* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	min-width:100vw;
	background: #E5E5E5;
	-webkit-font-smoothing: antialiased;
}